// ==========================================================================
// Flexbox variables
// ==========================================================================

// Media Query Ranges
$layout-sm: 600px !default;
$layout-md: 960px !default;
$layout-lg: 1280px !default;
$layout-xl: 1920px !default;
