// ==========================================================================
// Flexbox variables
// ==========================================================================

// Media Query Ranges
$fb-layout-sm: 600px !default;
$fb-layout-md: 960px !default;
$fb-layout-lg: 1280px !default;
$fb-layout-xl: 1920px !default;
